# Runtime Dependencies
pytz>=2024.1
playsound==1.2.2
boto3>=1.28.0

# Build Dependencies (optional; only needed to create an .exe via Nuitka)
nuitka>=2.0
zstandard>=0.21.0
ordered-set>=4.1.0
clang>=16.0.0